.yearwrapper26 {
  position: fixed;
  margin-top: 50px;
}

.yearwrapper25 {
  position: fixed;
  margin-top: 400px;
}

.yearwrapper24 {
  position: fixed;
  margin-top: 750px;
}

.year {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.quarter {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 14px);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-gap: 0px;
  background-color: #fafafa;
  /* background-color: yellow; */
  color: #444;
  margin-bottom: 7px;
}

.ph {
  background-color: transparent;
  /* height: 14px; */
  border: 1px transparent solid;
  box-sizing: border-box;
}

.day {
  background-color: #444;
  /* padding: 2px; */
  /* width: 15px; */
  height: 14px;
  border: 1px white solid;
  box-sizing: border-box;
  /* border-radius: 4px; */
}

.day:hover {
  background-color: orange;
  cursor: pointer;
}

/* Color intensities for bsky tweets */
.past1 {
  background-color: rgb(138, 138, 255);
}

.past2 {
  background-color: rgb(80, 98, 255);
}

.past3 {
  background-color: blue;
}

/* Color intensities for DFOST tweets */
.pastd1 {
  background-color: rgb(94, 255, 94);
}

.pastd2 {
  background-color: rgb(0, 201, 0);
}

.pastd3 {
  background-color: green;
}

/* Color intensities for bsky tweets */
.pastx1 {
  background-color: rgb(255, 145, 145);
}

.pastx2 {
  background-color: rgb(255, 43, 43);
}

.pastx3 {
  background-color: rgb(182, 0, 0);
}

.selected {
  background-color: orange;
}
