@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital@0;1&family=Open+Sans:ital@0;1&family=Raleway&display=swap');

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: #4A4A46;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  outline-color: transparent;
  cursor: pointer;
  color: blue;
  /* text-decoration-style: wavy; */
}

a:link {
  color: blue;
  text-decoration-style: solid;
}

a:visited {
  color: blue;
}

a:focus {
  text-decoration: none;
  background: yellow;
}

a:hover {
  text-decoration: none;
  background: yellow;
}

a:active {
  background: yellow;
  color: black;
}

.contentbody {
  position: absolute;
  top: 145px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  padding-bottom: 17px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border-bottom: gainsboro 1px solid;
}

.quoteheader {
  position: fixed;
  z-index: 999;
  top: 0;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #fafafa;
  color: #4A4A46;
  /* width: fit-content; */
  width: 100%;
}

.headerfixed {
  position: fixed;
  z-index: 999;
  top: 33px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 17px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border-top: gainsboro 1px solid;
  border-bottom: gainsboro 1px solid;
}

#buildinpublic {
  position: fixed;
  /* top: 35px;
  right: 150px; */
  top: 0;
  right: 150px;
  font-size: 15px;
  border-left: 1px gainsboro solid;
  border-right: 1px gainsboro solid;
  border-bottom: 1px gainsboro solid;
  background-color: #fafafa;
  padding: 10px;
}

#buildinpublic:hover {
  background-color: yellow;
}

.header a {
  color: #4A4A46;
  text-decoration: none;
}

.headerfixed a {
  color: #4A4A46;
  text-decoration: none;
}

.subheader {
  font-size: 16px;
  font-weight: normal;
  margin-top: 11px;
}

.subheader a {
  /* color: #4A4A46; */
  color: blue;
  /* text-decoration-style: wavy; */
}

.version {
  font-size: 12px;
  font-weight: normal;
  width: fit-content;
  margin: 0 auto;
  margin-top: 8px;
}

.version a {
  background-color: white;
}