@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital@0;1&family=Open+Sans:ital@0;1&family=Raleway&display=swap');

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: #4A4A46;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  outline-color: transparent;
  cursor: pointer;
  color: blue;
  /* text-decoration-style: wavy; */
}

a:link {
  color: blue;
  text-decoration-style: solid;
}

a:visited {
  color: blue;
}

a:focus {
  text-decoration: none;
  background: yellow;
}

a:hover {
  text-decoration: none;
  background: yellow;
}

a:active {
  background: yellow;
  color: black;
}

.contentbody {
  position: absolute;
  top: 145px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  padding-bottom: 17px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border-bottom: gainsboro 1px solid;
}

#quotebar {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  /* display: flex;
  align-items: right; */
  text-align: right;
  width: 100%;
  margin-top: 9px;
  /* background-color: red; */
}

.headerfixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
  margin-top: 33px;
  padding-top: 20px;
  padding-bottom: 17px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border-top: gainsboro 1px solid;
  border-bottom: gainsboro 1px solid;
}

.section {
  cursor: pointer;
}

.section:hover {
  background-color: yellow;
}

.selectedsection {
  background-color: yellow;
  /* text-decoration: underline; */
}

#titleWrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1725px;
  display: flex;
  /* align-items: left; */
  justify-content: left;
  margin: 0 auto;
}

#title {
  display: flex;
  align-items: left;
  width: fit-content;
  border-left: 1px gainsboro solid;
  border-right: 1px gainsboro solid;
  border-bottom: 1px gainsboro solid;
  /* background-color: yellow; */
  background-color: #fafafa;
  padding: 12px;
  padding-right: 25px;
}

#quoteWrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1800px;
  height: 33px;
  display: flex;
  /* align-items: left; */
  justify-content: left;
  margin: 0 auto;
  background-color: #fafafa;
  /* background-color: orange; */
}

.header a {
  color: #4A4A46;
  text-decoration: none;
}

.headerfixed a {
  color: #4A4A46;
  text-decoration: none;
}

.subheader {
  font-size: 16px;
  font-weight: normal;
  margin-top: 11px;
  padding: 10px;
  /* background-color: lightblue; */
}

.subheader a {
  /* color: #4A4A46; */
  color: blue;
  /* text-decoration-style: wavy; */
}

.version {
  font-size: 12px;
  font-weight: normal;
  width: fit-content;
  /* margin: 0 auto; */
  margin-top: 7px;
}

.version a {
  background-color: white;
}

#footerWrapper {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33px;
  border-top: 1px solid gainsboro;
  background-color: white;
  display: flex;
  align-items: center;
}

#footer {
  width: 1800px;
  text-align: right;
  font-size: 13px;
  padding: 0;
  margin: 0 auto;
}