html {
  overflow:   scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#categorieswrapper {
  position: absolute;
  left: 1140px;
}

#categoriescontent {
  position: fixed;
  width: 500px;
  /* background-color: yellow; */
  margin-top: 50px;
  margin-left: 100px;
}

#searchcontent {
  /* margin: 0px auto; */
  position: absolute;
  left: 400px;
  margin-top: 50px;
  margin-left: 100px;
  /* background-color: yellow; */
  width: fit-content;
  /* background-color: pink; */
  /* box-sizing: border-box; */
}

#searchmsg {
  /* font-style: italic; */
  margin-bottom: 7px;
  font-size: 16px;
  /* text-align: center; */
}

#search {
    font-size: 50px;
    width: 100%;
    /* margin-bottom: 100px; */
}

#searchresult {
    font-size: 50px;
    margin-top: 20px;
}

#xnacontent {
  position: relative;
  display: flex;
  flex-flow: row;
  background-color: yellow;
  /* width: fit-content; */
  width: 1700px;
  margin: 0 auto;
  /* border: 1px black solid; */
}

#gridcontainer {
  /* background-color: yellow; */
  width: fit-content;
  /* margin: 0px auto; */
  margin-top: 50px;
  /* margin-left: 100px; */
}

.avatargrid {
  display: grid;
  grid-template-columns: repeat(12, 42px);
  grid-gap: 0px;
  background-color: #fafafa;
  /* background-color: white; */
  color: #444;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: white; */
}

li {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  /* background-color: yellow; */
}

li a {
  text-decoration: none;
}

.paneheader {
  font-weight: bold;
  font-size: 25px;
  width: fit-content;
  margin-bottom: 12px;
  cursor: pointer;
  /* background-color: white; */
  border-bottom: 2px solid #fafafa;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* padding-left: 15px;
  padding-right: 15px; */
}

.paneheader:hover {
  opacity: 1;
  border-bottom: 2px solid #444;
}

.inactive {
  opacity: .3;
}

.hidden {
  display: none;
}

.toggle {
  cursor: pointer;
  color: blue;
}

.sel {
  color: black;
  font-weight: bold;
  /* text-decoration: underline; */
}

.toggle:hover {
  color: black;
  background-color: yellow;
}

.person {
  height: 42px;
  background-size: cover;
  border: 1px solid #fafafa;
  box-sizing: border-box;
}

.person:hover {
  cursor: pointer;
}

.person-sel {
  border: 5px solid orange;
}

.dim {
  opacity: .1;
}

.tweetresult {
  padding: 10px;
  /* margin-bottom: 5px; */
  background-color: white;
  /* border: 1px solid lightgrey; */
  font-size: 20px;
}

.tweetresult a {
  text-decoration: none;
}
